//***** Variable declarations *****************************************************************************************************************************

@backgroundColor 					: #4617B4;

//*********************************************************************************************************************************************************
#qnFiltersContainer {
	display: block;
	min-height: 70px;
	padding: 0px;
}

.ansGroupBtn {
	button {
		background-color: #E74C3C;
		border-radius: 0px;
		border: 1px solid #C0392B;
		color: #FFFFFF;
		font-size: 16px;

		&.disabled {
			background-color: #E74C3C;
			border-radius: 0px;
			border: 1px solid #C0392B;
			color: #FFFFFF;
			font-size: 19px;
			opacity: 0.7;
		}

		&.filterSelected {
			background-color: #1ABC9C;
			border: 1px solid #16A085;
		}
	}
}

.ansDropdown {
	margin-right: 15px;
	font-size: 18px;
	border: 1px solid #ADADAD;
	padding-top: 0px;
	padding-bottom: 0px;

	li {
		a:hover {
			cursor: pointer;
			background-color: #EBEBEB;
			color: #000;
		}
	}
}

.qnItem {
	border							: 1px solid @backgroundColor;
	border-radius					: 0px;
	margin-bottom					: 30px;
	padding 						: 0px;
	
	.qnItemBody {
		min-height					: 150px;
		padding						: 10px;
		background-color 			: #FFFFFF;

		.qnItemBodyDetails {
			padding 				: 0px 0px 0px 7px;
			border-left 			: 1px solid #999999;
		}
	}
	
	.qnItemFooter {
		height						: 30px;
		background-color			: @backgroundColor;
		border-top					: 1px solid @backgroundColor;
		color 						: #FFFFFF;
		opacity						: 0.7;
		font-size					: 14px;
		padding						: 5px 0px 26px 0px;
		.qnFooterNav {
			&:hover {
				cursor				: pointer;
				font-weight			: bold;
			}
		}
		
		&:hover {
			opacity					: 1;
		}
	}
}

#modalAnswerQuestionModal {
	.modal-dialog {
		margin-top 					: 10%;
	}

	.modal-content {
		border-radius 				: 0px;
		border 						: 3px solid @backgroundColor;
		font-size 					: 20px;
	}

	.modal-header {
		border-radius 				: 0px;
		background-color 			: @backgroundColor;
		color 						: #FFFFFF;
	}

	.modal-footer {
		span {
			font-size 				: 20px;
			font-weight 			: bold;
			text-align 				: left;
		}

		.btn-success {
			background-color 		: #F39C12;
			border 					: 1px solid #E67E22;
			border-radius 			: 0px;
			font-size 				: 16px;
			color 					: #FFFFFF;

			&:hover {
				background-color 	: #2ECC71;
				border 				: 1px solid #27AE60;
				color 				: #333333;
			}
		}

		.btn-default {
			background-color 		: #95A5A6;
			border 					: 1px solid #7F8C8D;
			border-radius 			: 0px;
			font-size 				: 16px;
			color 					: #FFFFFF;

			&:hover {
				background-color 	: #95A5A6;
				border 				: 1px solid #7F8C8D;
				color 				: #333333;
			}
		}
	}

	#modalAnsContent {
		padding 					: 10px;
		min-width 					: 200px;
		font-size 					: 20px;
	}
}

#modalReportQuestionModal {
	.modal-dialog {
		margin-top 					: 10%;
	}

	.modal-content {
		border-radius 				: 0px;
		border 						: 3px solid @backgroundColor;
		font-size 					: 20px;
	}

	.modal-header {
		border-radius 				: 0px;
		background-color 			: @backgroundColor;
		color 						: #FFFFFF;
	}

	.modal-footer {
		span {
			font-size 				: 20px;
			font-weight 			: bold;
			text-align 				: left;
		}

		.btn-success {
			background-color 		: #F39C12;
			border 					: 1px solid #E67E22;
			border-radius 			: 0px;
			font-size 				: 16px;
			color 					: #FFFFFF;

			&:hover {
				background-color 	: #E74C3C;
				border 				: 1px solid #C0392B;
				color 				: #333333;
			}
		}

		.btn-default {
			background-color 		: #95A5A6;
			border 					: 1px solid #7F8C8D;
			border-radius 			: 0px;
			font-size 				: 16px;
			color 					: #FFFFFF;

			&:hover {
				background-color 	: #95A5A6;
				border 				: 1px solid #7F8C8D;
				color 				: #333;
			}
		}
	}

	#modalAnsContent {
		padding 					: 10px;
		min-width 					: 200px;
		font-size 					: 20px;
	}
}