html,body,div,span,object,iframe,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
body{background-color:#ECF0F1;line-height:1.625em;padding-top:6em;}
input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="week"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],textarea{font-family:"HelveticaNeue",Helvetica,Arial,sans-serif;width:100%;line-height:1.5em;padding:0.375em 0.375em;}
label{display:block;margin-bottom:.5rem;}
input.error{border-style:solid;border-width:1px;margin-bottom:1em;color:#666;}
input.error{background-color:#ffe0e0;}
label.error{top:3em;font-size:.75em;margin-bottom:0;}
label.error,.blank label.error,.inset label.error{color:#fe6465;text-align:left;}
label.error,.inset label.error{width:100%;}
.navbar{border-radius:0px;padding:0em 2em;}
.strong{font-weight:bold;}
.blank{background-color:white;}
.full{width:100%;}
button.half{display:inline;width:49%;}
.center{text-align:center;}
.left{float:left;}
.right{float:right;}
.row{width:auto;padding:0.625em;}
.row .row{width:100%;}
.top{padding-top:1em;}
.top-gap{margin-top:1.5em;}
.no-top{margin-bottom:0 !important;}
.no-bottom{margin-bottom:0 !important;}
.no-top-bottom{padding-top:0px;padding-bottom:0px;}
.all-caps{text-transform:uppercase;}
.field{position:relative;margin:0 0 0.875em 0;}
.unit{float:left;}
.unitRight{float:right;}
.unit .inner{padding:0 1em;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.size9of10{width:90%;}
.size1of10{width:10%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}
#loader{position:relative;top:33%;}
.img-standard{width:100%;height:auto;max-height:300px;}
#dashboard_container img{width:100%;height:auto;}
.error,.error figure,.grid .unit.error a figure{border-color:#fe6465;}
