#dbQnContainer {
	border 			: 1px solid #999;
	border-radius 	: 5px;
	font-size 		: 20px;

	#dbQnContainerHeader {
		height 		: 20px;
		padding 	: 10px;
		font-weight : bold;
		background-color 		: #4099FF;
	}

	table {

		margin-bottom 	: 0px;
		cursor 			: pointer;

		tr {
			line-height 	: 1.2;

			.dbAnsCount {
				text-align 	: center;
			}

			.dbQnContent {
				max-height 	: 50px;
				overflow 	:hidden;
			}
		}
	}
}

#dbAnsContainer {
	border 			: 1px solid #999;
	border-radius 	: 5px;
	font-size 		: 20px;
	margin-top 		: 15px;

	#dbAnsContainerHeader {
		height 		: 20px;
		padding 	: 10px;
		font-weight : bold;
		background-color 		: #4099FF;
	}

	table {

		margin-bottom: 0px;

		tr {
			line-height 	: 1.2;
			cursor 			: pointer;

			.dbAnsApproval {
				padding: 10px 25px;
			}

			.dbAnsContent {
				max-height 	: 40px;
				overflow 	:hidden;
			}
		}
	}

}

.dbLoadingContainer {
	margin-left 	: 48%;
	margin-top 		: 5%;
	margin-bottom 	: 5%;

	img {
		width 		: 35px;
		margin-left : 15px;
	}

	div {
		text-align 	: left;
		margin-top 	: 5px;
		color 		: #999;
	}
}

.dbEmptyContainer {
	text-align: center;
	padding: 50px 20px;
}