// Reset styles
html, body, table, tr, td, th, h1, h2, h3, h4, h5, p, div, img, form, dl, dt, dd { margin:0; padding:0; border:0; }
/* Remove default styles for table headers */
table {}
td,
th { font-weight:normal; text-align:left; }
var { font-style:normal; }

// 1. Begin custom styling ********************************************************************************************************************************

//***** Variable declarations *****************************************************************************************************************************

// Unused styles from previous design implementation. Kept them for reference only.
// @gradientTop			: #2F2727;
// @gradientBottom		: #7F7F7F;
// @gradientSelTop		: #4099FF;
// @gradientSelBottom	: #4099FF;
// .navGradient	{
// 					background-color: @gradientBottom; 
// 					background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@gradientTop), to(@gradientBottom));
// 					background-image: -webkit-linear-gradient(top, @gradientTop, @gradientBottom); 
// 					background-image:    -moz-linear-gradient(top, @gradientTop, @gradientBottom);
// 					background-image:     -ms-linear-gradient(top, @gradientTop, @gradientBottom);
// 					background-image:      -o-linear-gradient(top, @gradientTop, @gradientBottom);
// 				}
// .navSelGradient	{
// 					background-color: @gradientSelBottom; 
// 					background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@gradientSelTop), to(@gradientSelBottom));
// 					background-image: -webkit-linear-gradient(top, @gradientSelTop, @gradientSelBottom); 
// 					background-image:    -moz-linear-gradient(top, @gradientSelTop, @gradientSelBottom);
// 					background-image:     -ms-linear-gradient(top, @gradientSelTop, @gradientSelBottom);
// 					background-image:      -o-linear-gradient(top, @gradientSelTop, @gradientSelBottom);
// 				}

@backgroundColor 				: #34495E;
@themeColor 					: #4617B4;
@navFontColor					: #BFBFBF;

//*********************************************************************************************************************************************************
body {
	background-color 			: @backgroundColor;
	font-size 					: 14px;
	padding-top 				: 47px;
}

.navbar-fixed-top {
	background-color 			: @themeColor;
}

#logo {
	padding 					: 0px;

	img {
		height 					: 53px;
	}
}

#ai-header {
	nav {
		border 					: none;
	}
}

#menu-main-nav {

	li {
		a {
			color				: @navFontColor;
			vertical-align		: text-top;
			
			i {
				font-size		: 20px;
				vertical-align	: middle;
				width			: auto;
				margin-right	: 3px;
			}
			
			span {
				font-weight		: bold;
				text-transform	: uppercase;
			}
			
			&.selected {
				padding-top 	: 17px; 
				padding-bottom 	: 16px;
				background-color: @backgroundColor;
				border-radius	: 0px;
				color			: #FFFFFF;
			}
		}

		&:hover {
			border-radius		: 0px;

			i, span {
				color 			: #FFFFFF;
			}
		}
	}
}

#ai-user-info-nav {

	i {
		margin-left				: 20px;
	}
	
	.dropdown-menu {
		padding-top 			: 0px;
		margin-top				: 3px;
		border					: 3px solid @themeColor;
		border-radius			: 0px;
		background				: #FFFFFF;
		vertical-align			: text-top;
		font-size 				: 16px;
		
		&:after {
			border				: none !important;
			content				: "" !important;
		}
		
		li {
			a {
				color 			: #000000;
				padding 		: 0px;

				&:hover {
					background 	: #CCCCCC;
				}
			}
		}
	}
}

#ai-stage {
	min-width					: 870px;
	margin-top					: 40px;
	margin-bottom 				: 40px;
}

#ai-footer {
	width						: 100%;
	position					: absolute;
	bottom						: 0px;
	border-top					: 1px solid #4D4D4D;
	background-color			: #505858;
	opacity						: 0.8;
	
	span {
		color					: @navFontColor;
		padding					: 3px 0px 0px 30px;
	}
}

.pageDetailsContainer {
	border-radius 				: 0px;
	border 						: 3px solid @themeColor;
	padding 					: 20px 43px;
	background-color 			: #ECF0F1;
}

#aiSidebar {
	border-radius 				: 0px;
	border 						: 3px solid @themeColor;
	background-color 			: #ECF0F1;
	min-height 					: 555px;
}

.commonLoadingContainer {
	margin-left 				: 48%;
	margin-top 					: 5%;
	margin-bottom 				: 5%;

	img {
		width 					: 35px;
		margin-left 			: 15px;
	}

	div {
		text-align 				: left;
		margin-top 				: 5px;
		color 					: #999999;
	}
}

// 2. Begin Modal styling ********************************************************************************************************************************

.modal-header {
	border-top-left-radius 		: 5px;
	border-top-right-radius 	: 5px;
	background-color 			: #4099FF;
	border-bottom 				: 1px solid #BFBFBF;
}

.modal-body {
}

.modal-footer {
	border-top 					: 1px solid #BFBFBF;
}
