#qgQnContainer{border:1px solid #999;border-radius:0px;font-size:17px;}#qgQnContainer #qgQnContainerHeader{height:40px;padding:10px;font-weight:bold;color:#FFFFFF;background-color:#4617b4;}
#qgQnContainer table{margin-bottom:0px;background-color:#FFFFFF;}
.qgLoadingContainer{margin-left:48%;margin-top:5%;margin-bottom:5%;}.qgLoadingContainer img{width:35px;margin-left:15px;}
.qgLoadingContainer div{text-align:left;margin-top:5px;color:#999;}
.qgEmptyContainer{text-align:center;padding:50px 20px;}
