@backgroundColor: #4617B4;

#qgQnContainer {
	border 			: 1px solid #999;
	border-radius 	: 0px;
	font-size 		: 17px;

	#qgQnContainerHeader {
		height 		: 40px;
		padding 	: 10px;
		font-weight : bold;
		color 		: #FFFFFF;
		background-color 	: @backgroundColor;
	}

	table {
		margin-bottom: 0px;
		background-color: #FFFFFF;
	}
}

.qgLoadingContainer {
	margin-left 	: 48%;
	margin-top 		: 5%;
	margin-bottom	: 5%;

	img {
		width 		: 35px;
		margin-left : 15px;
	}

	div {
		text-align: left;
		margin-top: 5px;
		color: #999;
	}
}

.qgEmptyContainer {
	text-align: center;
	padding: 50px 20px;
}