#vaContainer{border:3px solid #4617b4;border-radius:0px;}
.vaLoading{font-size:17px;margin-left:48%;margin-top:5%;margin-bottom:5%;}.vaLoading img{width:35px;margin-left:15px;}
.vaTitle{background-color:#4617b4;font-size:18px;color:#FFFFFF;padding:5px 8px;}
.vaContent{font-size:16px;}.vaContent .carousel{text-align:center;}.vaContent .carousel .item{min-height:200px;position:relative;}
.vaContent .carousel .lastAnswer{margin-top:50px;}
.vaQnApprovalContainer button{border-radius:0px;background-color:#4617b4;border:1px solid #4617b4;font-size:20px;color:#FFFFFF;}
.vaQnApprovalContainer .vaQnApprove{position:absolute;left:0px;bottom:0px;}.vaQnApprovalContainer .vaQnApprove:hover{background-color:#2ECC71;border:3px solid #27AE60;}
.vaQnApprovalContainer .vaQnDisapprove{position:absolute;right:0px;bottom:0px;}.vaQnApprovalContainer .vaQnDisapprove:hover{background-color:#E74C3C;border:1px solid #C0392B;}
