<%
	var idCountMap = {};

	// TODO: Move view helper functions to a model for reuse.
	var transformToDashboardQnView = function(data) {
		for( var i=0, iLen=data.length; i<iLen; i++ ) {
			qnId = data[i].qnId;
			if( idCountMap[qnId] ) {
				idCountMap[qnId]++;
			}
			else {
				idCountMap[qnId] = 1;
			}
		}
	}

	transformToDashboardQnView(this);
%>

<% for(var i=0, iLen=this.length; i<iLen; i++) { %>
	<%if( idCountMap[this[i].qnId] ) {%>
		<tr id="<%=this[i].qnId%>">
			<td class="dbAnsCount">
				<%=idCountMap[this[i].qnId]%>
				<br>
				Answers
			</td>
			<td class="dbQnContent">
				<%= this[i].qnContent %>
			</td>
		</tr>
	<%delete idCountMap[this[i].qnId];
	}%>
<%}%>