<section>
  <div class="full">
    <% if( this.length == 0 ) { %>
      <h3>You have not asked any questions.</h3>
      <p><button class="go_home btn btn-primary full all-caps">Home</button></p>
    <% } else { %>
    <% for( var i=this.length-1; i>=0; i-- ) { %>
      <div class="row blank top-gap">
        <div class="center">
          <% if( this[i].type == "image" ) { %>
            <div class="center">
              <img class="img-standard" src="<%= this.imagePath %><%= this[i].image %>" alt="Image not found." />
            </div>
          <% } %>
        </div>
        <div class="top-gap">
          <p><%=this[i].content%></p>
        </div>
        <div class="top-gap">
          <div class="unit size1of2 strong">
            <p>Level: <%=this[i].level%></p>
            <p>Subject: <%=this[i].subject%></p>
            <p>Topic: <%=this[i].topic%></p>
          </div>
          <div class="unit size1of2">
            <button id="view-answers-button-<%=this[i].id%>" class="view-answers-button btn btn-primary full all-caps">View Answers</button>
          </div>
        </div>
      </div>
    <% }} %>
  </div>
</section>