<section id="your-ans-qn-container">
  <div class="full center">
    <div clas="row">
      <button class="toggle-qn btn btn-primary no-top-bottom top-gap">Show Question</button>
      <button class="toggle-qn btn btn-primary no-top-bottom top-gap hide">Hide Question</button>
    </div>
    <div id="your-ans-qn-content" class="row blank top-gap hide">
      <div class="center">
        <h4>The Question Was</h4>
        <% if( this.question.type == "image" ) { %>
          <div class="center">
            <img class="img-standard" src="<%=this.imagePath%><%= this.question.image %>" alt="Image not found." />
          </div>
        <% } %>
      </div>
      <div class="top-gap">
        <p><%= this.question.content %></p>
      </div>
    </div>
  </div>
</section>

<section id="your-ans-container">
  <div class="full center">
    <div id="your-answer" class="row blank top-gap">
      <div class="center">
        <h4>You Answered</h4>
        <% if( this.answer.image != "" ) { %>
          <img class="img-standard" src="<%= this.imagePath %><%= this.answer.image %>"/>
        <% } %>
      </div>
      <div class="top-gap">
        <p><%=this.answer.content%></p>
      </div>
    </div>
    <div class="full center">
      <p><button class="your-ans-back-button btn btn-primary full all-caps top-gap">Back to your answers</button></p>
      <p><button class="go_home btn btn-primary full all-caps">Home</button></p>
    </div>
  </div>
</section>